.sidebar-menu {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
  width: $widthSidebar;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  overflow-y: scroll;
  height: 100vh;
  background-color: #fff;

  @include _990 {
    transform: translateY(-1000px);
    transition: all 200ms ease-in-out;
    width: 100%;
  }

  &__logo {
    margin: 40px 13px 20px 20px;

    @include _990 {
      margin: 13px;
      margin-left: 35px;
    }
  }
}
.sidebar-menu.open {
  transform: translateY(0);
  margin-top: 57px;

  .sidebar-menu__logo {
    display: none;
  }
}
