<footer class="footer">
  <div class="footer__container">
    <div class="footer__shops">
      <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M7 4.5C8.38 4.5 9.5 5.62 9.5 7C9.5 8.38 8.38 9.5 7 9.5C5.62 9.5 4.5 8.38 4.5 7C4.5 5.62 5.62 4.5 7 4.5ZM7 0C10.87 0 14 3.13 14 7C14 11.2076 9.50367 17.0211 7.71824 19.1637C7.33901 19.6188 6.661 19.6188 6.28176 19.1637C4.49633 17.0211 0 11.2076 0 7C0 3.13 3.13 0 7 0ZM7 2C4.24 2 2 4.24 2 7C2 8 2 10 7 16.71C12 10 12 8 12 7C12 4.24 9.76 2 7 2Z"
          fill="#1A1A1A" />
      </svg>
      <span>Магазины</span>
    </div>

    <div class="footer__menu">
      <ul class="footer__list">
        <li class="footer__item footer__item-title">
          Как мы работаем?
          <img class="arrow" src="@img/icon/arrowdwn.svg" alt="arr">
        </li>
        <li class="footer__group">
          <ul class="footer__ul">
            <li class="footer__item">
              <a href="#">О нас</a>
            </li>
            <li class="footer__item">
              <a href="#">Сборка и доставка</a>
            </li>
            <li class="footer__item">
              <a href="#">Оплата и возврат</a>
            </li>
            <li class="footer__item">
              <a href="#">Гарантия</a>
            </li>
            <li class="footer__item">
              <a href="#">Рассрочка</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item-title">
          Другая информация
          <img class="arrow" src="@img/icon/arrowdwn.svg" alt="arr">
        </li>
        <li class="footer__group">
          <ul class="footer__ul">
            <li class="footer__item">
              <a href="#">Блог</a>
            </li>
            <li class="footer__item">
              <a href="#">Контакты</a>
            </li>
            <li class="footer__item">
              <a href="#">Социальные сети</a>
            </li>
            <li class="footer__item">
              <a href="#">Бренды мебели</a>
            </li>
            <li class="footer__item">
              <a href="#">Карта сайта</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item-title">
          Сотрудничество
          <img class="arrow" src="@img/icon/arrowdwn.svg" alt="arr">
        </li>
        <li class="footer__group">
          <ul class="footer__ul">
            <li class="footer__item">
              <a href="#">Поставщикам</a>
            </li>
            <li class="footer__item">
              <a href="#">Оптовикам</a>
            </li>
            <li class="footer__item">
              <a href="#">Франчайзинг</a>
            </li>
            <li class="footer__item">
              <a href="#">Подписка</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item footer__item-title">
          Отзывы о нас
          <img class="arrow" src="@img/icon/arrowdwn.svg" alt="arr">
        </li>
        <li class="footer__group">
          <ul class="footer__ul">
            <li class="footer__item footer__item-rating">
              <a href="#">
                <img src="@img/ya.svg" alt="yandex">
                <img src="@img/4.svg" alt="stars">
              </a>
            </li>
            <li class="footer__item footer__item-rating">
              <a href="#">
                <img src="@img/goo.svg" alt="google">
                <img src="@img/4.svg" alt="stars">
              </a>
            </li>
            <li class="footer__item footer__item-rating">
              <a href="#">
                <img src="@img/2g.svg" alt="2gis">
                <img src="@img/5.svg" alt="stars">
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer__wrapper">
      <div class="footer__inner">
        <p class="footer__title">Мы в соцсетях</p>
        <ul class="social footer__social">
          <li class="social__item">
            <a href="#">
              <img src="@img/vk.svg" alt="vk">
            </a>
          </li>
          <li class="social__item">
            <a href="#">
              <img src="@img/youtube.svg" alt="youtube">
            </a>
          </li>
          <li class="social__item">
            <a href="#">
              <img src="@img/inst.svg" alt="insta">
            </a>
          </li>
          <li class="social__item">
            <a href="#">
              <img src="@img/fb.svg" alt="fb">
            </a>
          </li>
          <li class="social__item">
            <a href="#">
              <img src="@img/odn.svg" alt="odn">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__inner">
        <p class="footer__title">Мы принимаем к оплате</p>
        <ul class="footer__accepted accepted">
          <li class="social__item">
            <a href="#">
              <img src="@img/master.svg" alt="master">
            </a>
          </li>
          <li class="accepted__item">
            <a href="#">
              <img src="@img/visa.svg" alt="visa">
            </a>
          </li>
          <li class="accepted__item">
            <a href="#">
              <img src="@img/master.svg" alt="master">
            </a>
          </li>
          <li class="accepted__item">
            <a href="#">
              <img src="@img/mir.svg" alt="mir">
            </a>
          </li>
          <li class="accepted__item">
            <a href="#">
              <img src="@img/yam.svg" alt="yam">
            </a>
          </li>
        </ul>
      </div>
    </div>

    <a class="footer__politic" href="#">Политика конфиденциальности</a>

    <div class="footer__copy d-flex">
      <span>© 2010-2020 Интернет-магазин мебели и товаров для дома.</span>

      <div class="footer__logo">
        <img src="@img/asanov.svg" alt="logo">
        <span>Дизайн Asanov.agency</span>
      </div>
    </div>
  </div>
</footer>