<aside class="sidebar-menu">
  <div class="sidebar-menu__logo logo">
    <a href="#">
      <img src="@img/logo.svg" alt="logo">
    </a>
  </div>
  <div class="menu">
    <ul class="menu__list">
      <li class="menu__item">
        <img class="menu__icon" src="@img/icon/sofa-2.svg" alt="sofa">
        <a href="#">Диваны и кресла</a>
        <img class="menu__arrow" src="@img/icon/arrow-right.svg" alt="arrow">
        <ul class="menu__sub">
          <li class="menu__sub-title">
            <img class="menu__sub-title-arrow" src="@img/icon/arrow-right.svg" alt="arrow">
            <img class="menu__sub-title-icon" src="@img/icon/sofa-2.svg" alt="sofa">
            <p class="menu__title">Диваны и кресла</p>
          </li>
          <li class="menu__item">
            <a href="#">Все диваны</a>
          </li>
          <li class="menu__item">
            <a href="#">Диваны-кровати</a>
          </li>
          <li class="menu__item">
            <a href="#">Угловые кожаные диваны</a>
          </li>
          <li class="menu__item">
            <a href="#">Угловые тканевые диваны</a>
          </li>
          <li class="menu__item">
            <a href="#">Прямые кожаные диваны</a>
          </li>
          <li class="menu__item">
            <a href="#">Прямые тканевые диваны</a>
          </li>
          <li class="menu__item">
            <a href="#">Кресла для гостиной</a>
          </li>
          <li class="menu__item">
            <a href="#">Кресла-груши</a>
          </li>
          <li class="menu__item">
            <a href="#">Офисные кресла</a>
          </li>
          <li class="menu__item">
            <a href="#">Пуфы и банкетыки</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <img class="menu__icon" src="@img/icon/closet-2.svg" alt="closet">
        <a href="#">Шкафы</a>
        <img class="menu__arrow" src="@img/icon/arrow-right.svg" alt="arrow">
      </li>
      <li class="menu__item">
        <img class="menu__icon" src="@img/icon/kitchen-2.svg" alt="kitchen">
        <a href="#">Мебель для кухни</a>
        <img class="menu__arrow" src="@img/icon/arrow-right.svg" alt="arrow">
      </li>
      <li class="menu__item">
        <img class="menu__icon" src="@img/icon/room-3.svg" alt="room">
        <a href="#">Гостинные</a>
        <img class="menu__arrow" src="@img/icon/arrow-right.svg" alt="arrow">
      </li>
      <li class="menu__item">
        <img class="menu__icon" src="@img/icon/bedroom-3.svg" alt="bedroom">
        <a href="#">Спальни</a>
        <img class="menu__arrow" src="@img/icon/arrow-right.svg" alt="arrow">
      </li>
      <li class="menu__item">
        <img class="menu__icon" src="@img/icon/hall-4.svg" alt="hall">
        <a href="#">Мебель для прихожей</a>
        <img class="menu__arrow" src="@img/icon/arrow-right.svg" alt="arrow">
      </li>
      <li class="menu__item">
        <img class="menu__icon" src="@img/icon/child-2.svg" alt="child">
        <a href="#">Детская мебель</a>
        <img class="menu__arrow" src="@img/icon/arrow-right.svg" alt="arrow">
      </li>
      <li class="menu__item">
        <img class="menu__icon" src="@img/icon/table-3.svg" alt="table">
        <a href="#">Столы и стулья</a>
        <img class="menu__arrow" src="@img/icon/arrow-right.svg" alt="arrow">
      </li>
      <li class="menu__item">
        <img class="menu__icon" src="@img/icon/office-3.svg" alt="office">
        <a href="#">Офисная мебель</a>
        <img class="menu__arrow" src="@img/icon/arrow-right.svg" alt="arrow">
      </li>
      <li class="menu__item">
        <img class="menu__icon" src="@img/icon/rotang-3.svg" alt="rotang">
        <a href="#">Мебель из ротанга</a>
        <img class="menu__arrow menu__arrow-hidden" src="@img/icon/arrow-right.svg" alt="arrow">
      </li>
      <li class="menu__item">
        <img class="menu__icon" src="@img/icon/premium-3.1.svg" alt="premium">
        <a href="#">Мебель премиум-класса</a>
        <img class="menu__arrow menu__arrow-hidden" src="@img/icon/arrow-right.svg" alt="arrow">
      </li>
      <ul class="menu__conditions">
        <li class="menu__item">
          <img class="menu__icon" src="@img/icon/more-2.svg" alt="more">
          <a href="#">Условия покупки</a>
          <img class="menu__arrow" src="@img/icon/arrow-right.svg" alt="arrow">
        </li>
      </ul>
    </ul>
  </div>
</aside>